.first__grid {
  display: flex;
  align-items: flex-start;
  gap: 8px;

  img {
    margin-top: 20px;
  }
}

.firstGrids {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 44px 0;
}

.first__gridContent p:nth-child(1) {
  color: #4a4a4a;
  font-size: 16px;
  font-weight: bold;
}

.first__gridContent p:nth-child(2) {
  color: #a0b0b9;
  font-size: 12px;
  margin-top: -10px;
}

.errorGrid {
  display: flex;
  gap: 30px;
  font-size: 12px;
  color: #4a4a4a;
  font-weight: 600;
}

.searchInfo {
  display: flex;
  gap: 88px;
  border-bottom: 1px solid #eff1f4;
  padding-bottom: 35px;
  margin-bottom: 35px;
}

.search__det {
  h3 {
    color: #4a4a4a;
    font-size: 16px;
    display: flex;
    gap: 8px;
    align-items: center;

    span {
      background-color: #8bc34a;
      color: #fff;
      font-weight: bold;
      font-size: 12px;
      border-radius: 10px;
      padding: 6px;
    }
  }

  h2 {
    color: #4a4a4a;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      color: #4a4a4a;
      font-weight: lighter;
      font-size: 12px;
    }
  }

  p {
    color: #a0b0b9;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;

    span {
      color: #4a4a4a;
      font-weight: lighter;
      font-size: 12px;
    }
  }
}

.traffic__info {
  h3 {
    color: #4a4a4a;
    font-size: 16px;
  }

  p {
    color: #a0b0b9;
    font-size: 12px;
  }
}

.traffic__tags {
  color: black;

  span {
    color: #2196f3;
  }
}

.clickInfo {
  display: flex;
  gap: 88px;
  border-bottom: 1px solid #eff1f4;
  padding-bottom: 35px;
  margin-bottom: 35px;
}

.click__det {
  h3 {
    color: #4a4a4a;
    font-size: 16px;
    display: flex;
    gap: 8px;
    align-items: center;

    span {
      background-color: #ff6a67;
      color: #fff;
      font-weight: bold;
      font-size: 12px;
      border-radius: 10px;
      padding: 6px;
    }
  }

  h2 {
    color: #4a4a4a;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      color: #4a4a4a;
      font-weight: lighter;
      font-size: 12px;
    }
  }

  p {
    color: #a0b0b9;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;

    span {
      color: #4a4a4a;
      font-weight: lighter;
      font-size: 12px;
    }
  }
}

.click__info {
  h3 {
    color: #ff6a67;
    font-size: 16px;
    font-weight: 500;
  }

  p {
    color: #a0b0b9;
    font-size: 12px;
  }
}

.click__tags {
  color: black;

  span {
    color: #2196f3;
  }
}
